# pandas 기초 개념 정리
**INDEX**
> 1. Series 
> 2. Dataframe

### 1. Series
나중에 정리... 나중에 라는말이 무서운줄 알면 공포를 느끼란 말이다!!!

### 2. Dataframe
Dataframe 객체는 다양한 방법으로 생성할 수 있지만 가장 흔하게 사용되는 방법은 아래와 같이 두가지다.
> 1. 같은 길이의 리스트들이 담긴 사전을 사용
> 2. NumPy를 사용

ex)  
```python
data = {'state' : ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
        'year'  : [2000, 2001 ,2002 ,2001, 2002],
        'pop'   : [1.5, 1.7, 3.6, 2.4, 2.9]}
frame = DataFrame(data)
```

### - pandas 기초 라이브러리들 import

In [1]:
import pandas as pd
import numpy as np
from pandas import DataFrame
from pandas import Series

### - 같은 길이의 리스트들을 가지는 사전을 사용해 생성

In [2]:
data = {'state' : ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
        'year'  : [2000, 2001, 2002, 2001, 2002],
        'pop'   : [1.5, 1.7, 3.6, 2.4, 2.9]}
frame = DataFrame(data)
frame

   pop   state  year
0  1.5    Ohio  2000
1  1.7    Ohio  2001
2  3.6    Ohio  2002
3  2.4  Nevada  2001
4  2.9  Nevada  2002

### - 원하는 순서대로 columns를 지정할 경우 
 - 원하는 순서를 가진 DataFrame 객체가 생성된다.
 - columns 속성에 리스트를 통해 임의로 순서를 변경할 수 있다.

In [3]:
DataFrame( data, columns = ['year', 'state', 'pop'] )

   year   state  pop
0  2000    Ohio  1.5
1  2001    Ohio  1.7
2  2002    Ohio  3.6
3  2001  Nevada  2.4
4  2002  Nevada  2.9

### - Series처럼 data에 없는 값을 넘기면 NA값이 저장된다

In [4]:
frame2 = DataFrame(data, columns = ['year', 'state', 'pop', 'debt'],
                         index = ['one', 'two', 'three', 'four', 'five'])
frame2

       year   state  pop debt
one    2000    Ohio  1.5  NaN
two    2001    Ohio  1.7  NaN
three  2002    Ohio  3.6  NaN
four   2001  Nevada  2.4  NaN
five   2002  Nevada  2.9  NaN

: debt컬럼에는 아무 값도 지정되지 않는다. 왜냐하면 data선언시 debt라는 항목에 대해 리스트를 지정하지 않았기 때문이다.

### DataFrame의 컬럼의 다양한 접근 방식
> - 사전형식 표기법으로 접근
> - 속성형식으로 접근

### - 사전형식 표기법 접근

In [5]:
frame2['state']

one        Ohio
two        Ohio
three      Ohio
four     Nevada
five     Nevada
Name: state, dtype: object

### - 속성형식으로 접근

In [6]:
frame2.state

one        Ohio
two        Ohio
three      Ohio
four     Nevada
five     Nevada
Name: state, dtype: object

### - 반환되는 Series객체가 DataFrame과 같은 색인을 가질때
알맞은 값으로 name속성이 채워진다. 로우는 위치나 ix같은 몇가지 메서드를 통해 접근할 수 있다.

In [9]:
# ix는 뭔지? ... deprecated되었다는데...
# 그럼 loc, iloc는 뭔지?
# frame2.ix['three']
# frame2.loc['three'] # frame2.ix['three] 와 같은식 불가능, loc,iloc사용해야.
# loc : label based indexing
# iloc : positional indexing
frame2.ix['three']

year     2002
state    Ohio
pop       3.6
debt      NaN
Name: three, dtype: object