# DataFrame예제들
 - 실제로 부딛혀본 케이스들 정리  
### Index
1. 딕셔너리를 DataFrame으로 변환하는 예
2. DataFrame을 제너레이터 표현식으로 순환하기  
 (Effective Python - 9) 컴프리헨션이 클때는 제너레이터 표현식을 고려하자.  
3.

In [1]:
# -*- encoding : utf-8 -*-
import pandas as pd
from pandas import DataFrame, Series

### 1. 딕셔너리를 DataFrame으로 변환하는 예제

In [2]:
l_fruits = [
    {
        'product': 'Apple',
        'country': 'Korea',
        'price': 1000,
        'arrived': '2017-06-02'
    },
    {
        'product': 'Banana',
        'country': 'Africa',
        'price': 800,
        'arrived': '2017-06-12'
    },
    {
        'product': 'Grape',
        'country': 'Japan',
        'price': 1200,
        'arrived': '2017-06-22'
    },
]

In [31]:
df_fruits = pd.DataFrame(columns=['country','product','price','arrived'])
def get_df_fruit():
    def dict_to_df(x):
        df_fruits.loc[len(df_fruits)] = x.values()
        print(x)
    
    [dict_to_df(fruit) for fruit in l_fruits]
get_df_fruit()
df_fruits

{'country': 'Korea', 'product': 'Apple', 'arrived': '2017-06-02', 'price': 1000}
{'country': 'Africa', 'product': 'Banana', 'arrived': '2017-06-12', 'price': 800}
{'country': 'Japan', 'product': 'Grape', 'arrived': '2017-06-22', 'price': 1200}

  country product       price arrived
0   Korea   Apple  2017-06-02    1000
1  Africa  Banana  2017-06-12     800
2   Japan   Grape  2017-06-22    1200

# 2. DataFrame을 제너레이터 표현식으로 순환하기  
 (Effective Python - 9) 컴프리헨션이 클때는 제너레이터 표현식을 고려하자.

## 2.1. DataFrame.iterrows() - generator
https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.iterrows.html

In [40]:
it = (row for i,row in df_fruits.iterrows())
it.next()

country         Korea
product         Apple
price      2017-06-02
arrived          1000
Name: 0, dtype: object

In [24]:
it.next()

(1, product        Africa
 country        Banana
 price      2017-06-12
 arrived           800
 Name: 1, dtype: object)

In [36]:
type(it)

generator

### iterator로 받아온 하나의 행의 dataframe값을 읽어들이기

In [42]:
print(str(type(it)))
y = iter(for i,row)

<type 'generator'>

## 2.2 DataFrame.iteritems() - Iterator
http://pandas.pydata.org/pandas-docs/version/0.17.0/generated/pandas.DataFrame.iteritems.html

In [35]:
it = df_fruits.iteritems()
print(str(type(it)))
next(it)
it

<type 'generator'>

('country', 0     Korea
 1    Africa
 2     Japan
 Name: country, dtype: object)